@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@font-face
{
  font-family: "Real VHS Font";
  src: url("../assets/RealVhsFontRegular.ttf");
}

body {
  --glitchy-blue: rgba(2,183,182,0.4);
  --glitchy-red: rgba(183,2,2,0.4);
  --shadow-x-distance: 3px;
  --shadow-y-distance: 2px;
  margin: 0;
  width: 100vw;
  text-align: center;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  background-color: black;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  section {
    height: 100vh;
    .subtitle {
      font-weight: 100;
      font-size: 40px;
      color: rgb(223, 191, 191);
      letter-spacing: .3em;
      animation: glitch-2 3s 3.02s infinite;
    }
    @keyframes glitch-2 {
      1%{
        transform: rotateX(10deg) skewX(70deg);
      }
      2%{
        transform: rotateX(0deg) skewX(0deg);
      }
    }
    .text-section-title {
      font-size: 40px;
      font-weight: bold;
      line-height: 32px;
      letter-spacing: 8px;
      top: -52px;
      position: relative;
      animation: glitch-2 3s 3.02s infinite;
    }
    @keyframes glitch1 {
      0% {
        transform: none;
        opacity: 1;
      }
      7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
      }
      10% {
        transform: none;
        opacity: 1;
      }
      27% {
        transform: none;
        opacity: 1;
      }
      30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
      }
      35% {
        transform: none;
        opacity: 1;
      }
      52% {
        transform: none;
        opacity: 1;
      }
      55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
      }
      50% {
        transform: none;
        opacity: 1;
      }
      72% {
        transform: none;
        opacity: 1;
      }
      75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
      }
      80% {
        transform: none;
        opacity: 1;
      }
      100% {
        transform: none;
        opacity: 1;
      }
    }
    @keyframes glitch2 {
      0% {
        transform: none;
        opacity: 0.25;
      }
      7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
      }
      10% {
        transform: none;
        opacity: 0.25;
      }
      27% {
        transform: none;
        opacity: 0.25;
      }
      30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
      }
      35% {
        transform: none;
        opacity: 0.25;
      }
      52% {
        transform: none;
        opacity: 0.25;
      }
      55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
      }
      50% {
        transform: none;
        opacity: 0.25;
      }
      72% {
        transform: none;
        opacity: 0.25;
      }
      75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
      }
      80% {
        transform: none;
        opacity: 0.25;
      }
      100% {
        transform: none;
        opacity: 0.25;
      }
    }
    @keyframes glitch3 {
      0% {
        transform: none;
        opacity: 0.25;
      }
      7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
      }
      10% {
        transform: none;
        opacity: 0.25;
      }
      27% {
        transform: none;
        opacity: 0.25;
      }
      30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
      }
      35% {
        transform: none;
        opacity: 0.25;
      }
      52% {
        transform: none;
        opacity: 0.25;
      }
      55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
      }
      50% {
        transform: none;
        opacity: 0.25;
      }
      72% {
        transform: none;
        opacity: 0.25;
      }
      75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
      }
      80% {
        transform: none;
        opacity: 0.25;
      }
      100% {
        transform: none;
        opacity: 0.25;
      }
    }
    .contact-content {
      width: 60vw;
      margin: auto;
      padding-top: 25vh;
      text-align: center;
      font-family: 'Real VHS Font';
      font-size: 40px;
      text-shadow: var(--shadow-x-distance) var(--shadow-y-distance) 0 var(--glitchy-blue),calc(var(--shadow-x-distance)*-1) calc(var(--shadow-y-distance)*-1) 0 var(--glitchy-red);
      animation: glitch-2 3s 3.02s infinite;
      .contact-icons {
        a {
          i {
            font-size: 50px;
          }
          --shadow-x-distance: 2px;
          --shadow-y-distance: 1px;
          margin: 10px;
          color: white;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          &:hover {
            --shadow-x-distance: 5px;
            --shadow-y-distance: 4px;
            text-shadow: var(--shadow-x-distance) var(--shadow-y-distance) 0 var(--glitchy-blue),calc(var(--shadow-x-distance)*-1) calc(var(--shadow-y-distance)*-1) 0 var(--glitchy-red);
          }
        }
      }
    }
  }
  footer {
    bottom: 0;
    margin-top: -40px;
  }
  .scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
  }
  .scanlines::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
                    to bottom,
                    transparent 0%,
                    rgba(255, 255, 255, 0.05) .2%,
                    transparent 1%
    );
    animation: fudge 7s ease-in-out alternate infinite;
  }
  .scanlines-2::before {
    top: 100vh;
  }
  .scanlines-3::before {
    top: 200vh;
  }
  @keyframes fudge {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 2%);
    }
  }
  #section1 {
    color: rgb(223, 191, 191);
    .progress {
      padding-top: 10vh;
    }
    .circle-progress-value {
      stroke-width: 2px;
      stroke: white;
      stroke-linecap: round;
    }
    .circle-progress-circle {
      stroke-width: 0;
    }
    .circle-progress{
      width: 250px;
      height: 250px;
      background-image: url("../assets/logo.png");
      background-size: 200px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .circle-progress-text {
      display: none;
    }
    #logo-load {
      padding-top: 25px;
    }
    .glitch-container {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100vw;
      padding-top: 20px;
      .glitch {
        font-size: 90px;
        animation: glitch 4s 4s infinite;
      }
      .glitch::after {
        content: attr(data-text);
        position: absolute;
        left: 2px;
        text-shadow: -0.3vw 0 lightgreen;
        background: black;
        overflow: hidden;
        animation: glitch 4s 4s infinite;
      }
    }
    .glow {
      @extend .glitch;
      text-shadow: 0 0 1000px rgb(223, 191, 191);
      color: transparent;
      position: absolute;
    }
    @keyframes glitch {
      1%{
        transform: rotateX(10deg) skewX(90deg);
      }
      2%{
        transform: rotateX(0deg) skewX(0deg);
      }
    }
    .scrollArrow {
      position: absolute;
      width: 100vw;
      cursor: pointer;
      font-size: 40px;
      animation: floating 3s ease-in-out infinite;
    }
    @keyframes floating {
      0% { transform: translate(0,  0px); }
      50%  { transform: translate(0, 15px); }
      100%   { transform: translate(0, -0px); }
    }
    p {
      margin-top: 30vh;
    }
  }
  .project-section {
    font-family: 'Real VHS Font';
    font-size: 60px;
    .project-section-content {
      position: relative;
      padding: 2%;
      .left-side {
        float: left;
        text-align: left;
      }
      .glitch2{
        position: absolute;
        color: #fff;
        animation: glitch1 2.5s infinite;
      }
      .glitch2:nth-child(2) {
        color: #67f3da;
        animation: glitch2 2.5s infinite;
      }
      .glitch2:nth-child(3) {
        color: #f16f6f;
        animation: glitch3 2.5s infinite;
      }
      .right-side {
        right: 1%;
        position: absolute;
        writing-mode: vertical-rl;
        height: 100vh;
      }
      .project-description {
        width: 60vw;
        margin: auto;
        margin-top: 15vh;
        text-align: center;
        .project-logo {
          max-width: 200px;
        }
        .project-logo-large{
          max-height: 100px;
        }
        .project-name {
          text-shadow: var(--shadow-x-distance) var(--shadow-y-distance) 0 var(--glitchy-blue),calc(var(--shadow-x-distance)*-1) calc(var(--shadow-y-distance)*-1) 0 var(--glitchy-red);
          animation: glitch-2 3s 3.02s infinite;
        }
        .project-text {
          --shadow-x-distance: 2.5px;
          --shadow-y-distance: 1.5px;
          text-shadow: var(--shadow-x-distance) var(--shadow-y-distance) 0 var(--glitchy-blue),calc(var(--shadow-x-distance)*-1) calc(var(--shadow-y-distance)*-1) 0 var(--glitchy-red);
          font-size: 20px;
          margin-top: 30px;
          .project-icons {
            margin-top: 20px;
          }
        }
        .project-link {
          cursor: pointer;
          border: 1px solid #fff;
          padding: 5px;
          font-size: 40px;
          width: 180px;
          margin: auto;
          margin-top: 30px;
          font-weight: bold;
          transition: ease-in 0.3s;
          text-shadow: var(--shadow-x-distance) var(--shadow-y-distance) 0 var(--glitchy-blue),calc(var(--shadow-x-distance)*-1) calc(var(--shadow-y-distance)*-1) 0 var(--glitchy-red);
        }
        .project-link:hover {
          background-color: #fff;
          color: black;
          mix-blend-mode: screen;
        }
      }
    }
  }
  .project-section-bg
  {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.2);
  }
  .project-section-bg:before
  {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: hard-light;
    animation: bg-glitch2 10s linear infinite;
  }
  .project-section:hover > .project-section-bg:before
  {
    animation: bg-glitch1 1s linear infinite;
  }
  #section2 {
    .project-section-bg {
      background-image: url('../assets/bg-venom.jpg');
    }
    .project-section-bg:before {
      background-image: url('../assets/bg-venom.jpg');
    }
  }
  #section3 {
    .project-section-bg {
      background-image: url('../assets/bg-senshinomishi.png');
    }
    .project-section-bg:before {
      background-image: url('../assets/bg-senshinomishi.png');
    }
  }
  #section4 {
    .project-section-bg {
      background-image: url('https://groupe-krypton.com/wp-content/uploads/2021/11/pexels-pixabay-414807-scaled.jpg');
    }
    .project-section-bg:before {
      background-image: url('https://groupe-krypton.com/wp-content/uploads/2021/11/pexels-pixabay-414807-scaled.jpg');
    }
  }
  #section5 {
    .project-section-bg {
      background-image: url('../assets/bg-nihontsuki.png');
    }
    .project-section-bg:before {
      background-image: url('../assets/bg-nihontsuki.png');
    }
  }
  @keyframes bg-glitch1
  {
    0%
    {
      background-position: 0 0;
      filter: hue-rotate(0deg);
    ;
    }
    10%
    {
      background-position: 5px 0;
    }
    20%
    {
      background-position: -5px 0;
    }
    30%
    {
      background-position: 15px 0;
    }
    40%
    {
      background-position: -5px 0;
    }
    50%
    {
      background-position: -25px 0;
    }
    60%
    {
      background-position: -50px 0;
    }
    70%
    {
      background-position: 0 -20px;
    }
    80%
    {
      background-position: -60px -20px;
    }
    90% {
      background-position: -100px -20px;
    }
    100%
    {
      background-position: 0 0;
      filter: hue-rotate(360deg);
    }
  }
  @keyframes bg-glitch2
  {
    0%
    {
      background-position: 0 0;
      filter: hue-rotate(0deg);
    }
    10%
    {
      background-position: 15px 0;
    }
    15%
    {
      background-position: -15px 0;
    }
    20%
    {
      filter: hue-rotate(360deg);
    }
    25%
    {
      background-position: 0 0;
      filter: hue-rotate(0deg);
    }
    100%
    {
      background-position: 0 0;
      filter: hue-rotate(0deg);
    }
  }
  @media screen and (max-device-width: 900px){
    #section1 {
      .glitch-container {
        .glitch {
          font-size: 85px;
        }
      }
    }
    .project-section {
      .project-section-content {
        .project-description {
          width: 85%;
          margin-top: 5vh;
        }
        .right-side {
          display: none;
        }
      }
    }
    section {
      .contact-content {
        .contact-icons {
          .contact-separator2 {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-device-width: 650px){
    #section1 {
      .glitch-container {
        .glitch {
          font-size: 60px;
        }
      }
    }
    section {
      .contact-content {
        .contact-icons {
          .contact-separator {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-device-width: 480px){
    #section1 {
      .progress {
        img {
          width: 150px;
          height: 150px;
        }
      }
      .circle-progress{
        width: 200px;
        height: 200px;
        background-size: 150px;
      }
      .glitch-container {
        .glitch {
          font-size: 45px;
        }
      }
      .subtitle {
        font-size: 30px;
        padding-left: 10%;
        padding-right: 10%;
      }
    }
  }
  @media screen and (max-device-width: 330px) {
    #section1 {
      .progress {
        img {
          width: 100px;
          height: 100px;
        }
      }
      .circle-progress{
        width: 120px;
        height: 120px;
        background-size: 100px;
      }
      .glitch-container {
        .glitch {
          font-size: 35px;
        }
      }
      .subtitle {
        font-size: 25px;
      }
    }
  }
  @media screen and (max-device-height: 1100px) and (min-device-width: 900px) and (max-device-width: 1400px){
    #section1 {
      p {
        margin-top: 40vh;
      }
    }
  }
  @media screen and (max-device-height: 800px) and (min-device-width: 900px){
    #section1 {
      .glitch-container {
        .glitch {
          font-size: 80px;
        }
      }
      p {
        margin-top: 30vh;
      }
    }
  }
  @media screen and (max-device-height: 700px){
    #section1 {
      .progress {
        img {
          width: 150px;
          height: 150px;
        }
      }
      .circle-progress{
        width: 200px;
        height: 200px;
        background-size: 150px;
      }
      .subtitle {
        font-size: 30px;
        padding-left: 10%;
        padding-right: 10%;
      }
    }
    .project-section {
      .project-section-content {
        .project-description {
          width: 95%;
          margin-top: 5vh;
        }
      }
    }
  }
  @media screen and (max-device-height: 700px) and (max-device-width: 580px){
    .project-section {
      .project-section-content {
        .project-description {
          .project-logo {
            max-width: 150px;
          }
          .project-name {
            font-size: 30px;
          }
        }
        .left-side {
          display: none;
        }
      }
    }
  }
  @media screen and (max-device-height: 700px) and (min-device-width: 640px){
    #section1 {
      .glitch-container {
        .glitch {
          font-size: 45px;
        }
      }
    }
  }
  @media screen and (max-device-height: 650px) and (max-device-width: 330px) {
    #section1 {
      p {
        margin-top: 20vh;
      }
    }
  }
}
::-webkit-scrollbar {
  display: none;
}